# mssql db password for connections
MTG_PASSWORD=


# Path to whereever the card image files are located/should be saved
# Can be relative or absolute
SCRYFALL_DATA_PATH=


# For authentication
JWT_SIGNING_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

# For seeding the original admin
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=